	<h2 class='welcome_name'> Trying to contact us,
		<%=@user.firstname %>?	</h2>
	<a class='yourpreferences' href='/preferences'>Your preferences</a> 
<br>
<br>
	<a class='createlistingshomepage' href='/create_listing'> Create Listing </a>
<div id='about_text_container'>